@model MovieDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="movie-details-container">
    <div style="padding-right: 10px">
        <img src="@Model.PosterPath" alt="Movie Poster" class="poster-details" style="width: 300px;height:424px" />
    </div>
    <div>
        <h3>
            @Model.Title
            <span style="font-weight:normal">
                (@Model.ReleaseDate.Year)
            </span>
        </h3>
        <p>
            <strong><span style="font-style: italic">@Model.Tagline</span></strong>
        </p>
        <p>
            <strong>Genres:</strong>
            @string.Join(" • ", Model.Genres.Select(g => g.Name))
            <strong> | Runtime:</strong> @Model.Runtime minutes
        </p>
        <p>
            <strong>Vote Average:</strong> @Math.Round(Model.VoteAverage, 1) ★
            @if (Model.Budget != 0)
            {
                <strong> | Budget</strong> @Model.Budget.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))
            }
            @if (Model.Revenue != 0)
            {
                <strong> | Revenue</strong> @Model.Revenue.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))
            }
        </p>
        <p>
            <h4>Overview</h4>
        </p>
        <p style="width: 900px">@Model.Overview</p>
        <div style="width: 900px">
            @{
                var directors = Model.Credits.Crew.Where(c => c.Job == "Director").Select(d => d.Name);
                var producers = Model.Credits.Crew.Where(c => c.Job == "Producer").Select(d => d.Name);
                var writers = Model.Credits.Crew.Where(c => c.Job == "Writer").Select(d => d.Name);
                var screenplay = Model.Credits.Crew.Where(c => c.Job == "Screenplay").Select(d => d.Name);

                <p>
                    <strong>Director:</strong> @string.Join(" • ", directors)
                </p>

                if (producers.Any())
                {
                    <p>
                        <strong>Producers:</strong> @string.Join(" • ", producers)
                    </p>
                }

                if (writers.Any())
                {
                    <p>
                        <strong>Writers:</strong> @string.Join(" • ", writers)
                    </p>
                }

                if (screenplay.Any())
                {
                    <p>
                        <strong>Screenplay:</strong> @string.Join(" • ", screenplay)
                    </p>
                }
            }
        </div>
    </div>
    <div class="scrollmenu">
        @foreach (var actor in Model.Credits.Cast.Take(10))
        {
            <div class="card">
                <a href="@Url.Action("Details", "People", new { personId = actor.Id })">
                    <img src="@actor.ProfilePath" alt="Actor Profile" style="width:100%">
                </a>
                <div class="name-role">
                    <strong><b>@actor.Name</b></strong>
                    <p>@actor.Character</p>
                </div>
            </div>
        }
        <div class="card">
            <a href="@Url.Action("GetMovieCast", "People", new { movieId = Model.MovieId })">
                <strong>See Full Cast...</strong>
            </a>

        </div>
    </div>
</div>
